body {
	background-color: #232323;
	margin: 0;
	font-family: "montserrat", "Avenir";

}
.square {
	width: 30%;
	padding-bottom: 30%;
	margin: 1.66%;
	background-color: purple;
	float: left;
	border-radius: 50%;
	transition: background .5s;
	-webkit-transition: background .5s;
	-moz-transition: background .5s;
}

.square:hover {
	size: 1.2;
}
#container {
	max-width: 600px;
	margin: 20px auto;
}
H1 {
	color: white;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 1.1;
	text-align: center;
	background-color: steelblue;
	margin: 0;
	padding: 20px 0;
}
#stripe {
	background-color: white;
	height: 30px;
	text-align: center;
}
.selected {
	color: white;
	background-color: steelblue;
}
#colorDisplay {
	font-size: 200%;
}
button {
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all .4s;
	outline: none;
}
button:hover {
	color: white;
	background-color: steelblue;
}
#message {
	display: inline-block;
	width: 20%;
}
